#slideshow
  #title Fingerblast!
  #counter
  #image= image_tag "board.jpg", :width => 600
  %section
    %p
      %button(data-difficulty="0") Beginner
    %p
      %button(data-difficulty="1") Intermediate
    %p
      %button(data-difficulty="2") Advanced
