<section>
  {{#each difficultyGroup in content}}
    <p>
      {{difficultyGroup.title}}
      <br/>
      {{#each difficulty in difficultyGroup.variants}}
        <button {{action showDifficulty difficulty}}>{{difficulty.formattedMultiplier}}</button>
      {{/each}}
    </p>
  {{/each}}
</section>
