#slideshow
  width: 600px
  font-size: 48px
  font-weight: bold
  text-align: center

#title
  float: left

#counter
  float: right

#image
  clear: both

section
  font-size: 36px
  font-weight: normal
  display: none

img
  width: 600px

button
  margin-top: 15px
  font-size: 36px
  
@media screen and (max-width: 600px)
  #slideshow
    width: 600px
    font-size: 48px

  section
    font-size: 36px

  img
    width: 600px

  button
    margin-top: 15px
    font-size: 36px

@media screen and (max-width: 480px)
  #slideshow
    width: 480px
    font-size: 36px

  section
    font-size: 28px

  img
    width: 480px

  button
    margin-top: 10px
    font-size: 28px

@media screen and (max-width: 320px)
  #slideshow
    width: 320px
    font-size: 24px

  section
    font-size: 21px

  img
    width: 320px

  button
    margin-top: 6px
    font-size: 21px
